In [1]:
import pandas as pd

analisis de https://www.kaggle.com/datasets/lobosi/c02-emission-by-countrys-grouth-and-population

In [2]:
df = pd.read_csv('energy.csv')
df

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
55435,55435,Zimbabwe,coal,2019,0.045064,0.075963,37.620400,1.465420e+04,11.508701,4.482962,4.586869
55436,55436,Zimbabwe,natural_gas,2019,0.000000,0.000000,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55437,55437,Zimbabwe,petroleum_n_other_liquids,2019,0.055498,0.000000,37.620400,1.465420e+04,11.508701,4.482962,4.377890
55438,55438,Zimbabwe,nuclear,2019,NaN,NaN,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55439,55439,Zimbabwe,renewables_n_other,2019,0.068089,0.067499,37.620400,1.465420e+04,11.508701,4.482962,0.000000

In [4]:
df['Country'].unique()

array(['World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo-Brazzaville',
       'Congo-Kinshasa', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'CÃ´te dâ€™Ivoire', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands', 'Faroe Islands',
       'Fiji', 'Finland', 'Former Czechoslovakia',
       'Former Serbia and Montenegro', 'Former U.S.S.R.',
       'Former Yugoslavia', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Germany, East',
       'Germany, West', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Hawaiian Trade Zone',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macau',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent/Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'The Bahamas', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Pacific Islands',
       'U.S. Territories', 'U.S. Virgin Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [5]:
df['Energy_type'].unique()

array(['all_energy_types', 'coal', 'natural_gas',
       'petroleum_n_other_liquids', 'nuclear', 'renewables_n_other'],
      dtype=object)

## analisis de Electric and Alternative Fuel Charging Stations

In [6]:
df = pd.read_csv('Electric and Alternative Fuel Charging Stations.csv')
df

C:\Users\Luis Meza\AppData\Local\Temp\ipykernel_18836\1818360689.py:1: DtypeWarning: Columns (6,16,20,31,33,36,39,40,41,43,46,52,53,55,57,58,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Electric and Alternative Fuel Charging Stations.csv')

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70401,ELEC,SCHLITZ PARK SCHLITZ PARK,1555 N River Center Dr,NaN,Milwaukee,WI,53212,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70402,ELEC,NEXUS EAST STATION 2,720 Airport Blvd,NaN,Austin,TX,78702,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70403,ELEC,Raley's,6119 Horseshoe Bar Rd,NaN,Loomis,CA,95650,NaN,877-455-3833,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70404,ELEC,13601 Glenoaks blvd,13601 Glenoaks blvd,NaN,Los Angeles,CA,91342,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70405,ELEC,6723 Van Nuys blvd,6723 Van Nuys Blvd,NaN,Los Angeles,CA,91405,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# extraer las estaciones de recarga de solo nueva york
df_ny= df[df['State']== 'NY']

In [23]:
df_ny['Fuel Type Code'].unique()

array(['CNG', 'ELEC', 'E85', 'BD'], dtype=object)

In [13]:
df_ny['City'].unique()
#muchas mas ciudades de NY de las necesarias. recortar a solo 'Brooklyn', 'Bronx', 'Queens',

array(['Brooklyn', 'New York', 'Bronx', 'Rye', 'Queens', 'Brentwood',
       'Hicksville', 'Menands', 'Garden City', 'Monticello', 'Buffalo',
       'Riverhead', 'Valley Stream', 'Rochester', 'Oyster Bay', 'Troy',
       'Flushing', 'Niagara Falls', 'Massapequa', 'Schenectady',
       'Irvington', 'Lindenhurst', 'Trumansburg', 'Albany',
       'Bedford Hills', 'Syracuse', 'Newburgh', 'Larchmont', 'West Nyack',
       'Croton-on-Hudson', 'Point Lookout', 'Wyandanch', 'Yaphank',
       'Calverton', 'Congers', 'Water Mill', 'Kings Park', 'Commack',
       'Glenmont', 'Melville', 'Southfields', 'Patchogue',
       'Rockville Centre', 'Rocky Point', 'Bridgehampton', 'Islandia',
       'Eastport', 'Farmingville', 'Bellmore', 'Greenlawn', 'Mt. Sinai',
       'Selden', 'New Hyde Park', 'New Rochelle', 'Westfield',
       'East Northport', 'Fort Edward', 'Geneva', 'Oneonta',
       'Orchard Park', 'Plattsburgh', 'Port Chester', 'St. James',
       'Syosset', 'Vestal', 'Wappingers Falls', 'Webster', 'Westbury',
       'Williamsville', 'Yorktown Heights', 'Amherst', 'Auburn',
       'Bayside', 'Blauvelt', 'Cicero', 'East Rochester', 'Inwood',
       'Ithaca', 'Jamaica', 'Johnstown', 'Hempstead', 'Horseheads',
       'Huntington Station', 'Kingston', 'Lockport', 'New Hampton',
       'Upton', 'Greenvale', 'Castle Creek', 'Lewiston', 'Minoa',
       'Clarence', 'Yonkers', 'Jamestown', 'Ozone Park', 'Penfield',
       'Niskayuna', 'Port Jefferson Station', 'Kerhonkson', 'Salt Point',
       'Fairport', 'Valhalla', 'Southold', 'Watertown', 'Greenpoint',
       'Roslyn', 'Millbrook', 'Kirkwood', 'Centereach', 'West Babylon',
       'Comstock', 'Yorkville', 'Lancaster', 'Watkins Glen',
       'Port Washington', 'Suffern', 'West Henrietta', 'Tonawanda',
       'Elmira', 'Spencerport', 'Williston Park', 'Warwick', 'Burdett',
       'Staten Island', 'Mastic Beach', 'Laurel', 'Jamesport',
       'Cortlandt', 'Tarrytown', 'Chappaqua', 'White Plains',
       'Skaneateles', 'Beacon', 'Stony Brook', 'Rouses Point', 'Freeport',
       'Saratoga Springs', 'North Syracuse', 'Elmira Heights', 'Greece',
       'Irondequoit', 'Binghamton', 'Wading River', 'Liverpool', 'Latham',
       'Ronkonkoma', 'Oakdale', 'Plainview', 'Clifton Park',
       'Slingerlands', 'Canandaigua', 'Clymer', 'Bellport', 'Gates',
       'Cazenovia', 'Maspeth', 'Peconic', 'Churchville', 'Clay',
       'Lake Katrine', 'Hillsdale', 'Jackson Heights', 'Stone Ridge',
       'Livonia', 'East Patchogue', 'Homer', 'Dix Hills', 'North Creek',
       'Rome', 'Cedarhurst', 'Fishkill', 'Baldwin', 'Sodus', 'Brewster',
       'Champlain', 'College Point', 'Cortlandt Manor', 'Fair Haven',
       'Gilboa', 'Hauppauge', 'Manhattan', 'Marcellus', 'Nanuet',
       'Poughkeepsie', 'Lagrangeville', 'Windsor', 'Woodside',
       'Rego Park', 'Grand Island', 'Hamburg', 'Waterville', 'Millport',
       'Clinton Corners', 'Guilderland', 'Painted Post', 'Queensbury',
       'Southampton', 'Utica', 'Victor', 'Waterloo', 'Floral Park',
       'Lima', 'Cherry Valley', 'Danby', 'Amenia', 'Aquebogue', 'Astoria',
       'Avon', 'Branchport', 'Bridgeport', 'Canton', 'Chester',
       'Chestertown', 'Cooperstown', 'Corning', 'Cornwall', 'Cortland',
       'Cutchogue', 'Darien Center', 'Depew', 'Dundee', 'East Aurora',
       'East Elmhurst', 'East Norwich', 'Forest Hills', 'Forestburgh',
       'Gardiner', 'Garrison', 'Ghent', 'Greenport', 'Henrietta',
       'Highland', 'Holmes', 'Hornell', 'Hudson', 'Lake George',
       'Lake Placid', 'Long Island City', 'Malone', 'Middletown',
       'Milton', 'Modena', 'Montauk', 'Montgomery', 'New Paltz',
       'Old Forge', 'Olean', 'Oswego', 'Penn Yan', 'Port Jervis',
       'Potsdam', 'Rhinebeck', 'Sag Harbor', 'Saranac Lake',
       'Shelter Island', 'Tupper Lake', 'Westhampton Beach', 'Whitesboro',
       'Windham', 'Bergen', 'Kinderhook', 'Salamanca', 'Hannacroix',
       'Roscoe', 'Cohoes', 'Ancram', 'Montour Falls', 'Durham',
       'Kew Gardens', 'Hawthorne', 'New York City', 'Bear Mountain',
       'Annandale-on-Hudson', 'Nyack', 'Waddington', 'Accord',
       'Au Sable Forks', 'Cottekill', 'Bohemia', 'Amityville', 'Westport',
       'Waterford', 'Wantaugh', 'Pine Plains', 'Center Moriches',
       'Lyons Falls', 'Boiceville', 'DeKalb Junction', 'Arkville',
       'Pawling', 'Babylon', 'Glendale', 'Jordan', 'Fayetteville',
       'Voorheesville', 'Tivoli', 'Staatsburg', 'Farmingdale', 'Wayland',
       'Pleasantville', 'Bay Shore', 'Castile', 'Houghton', 'Lewis',
       'Elizabethtown', 'Watervliet', 'Uniondale', 'Newark', 'Mamaroneck',
       'Halfmoon', 'Woodstock', 'Oriskany', 'Delmar', 'Clifton Springs',
       'Rye Brook', 'Peekskill', 'Smithtown', 'Claverack-Red Mills',
       'Hampton Bays', 'Niagara University', 'Elmhurst', 'Pittsford',
       'Colonie', 'Setauket- East Setauket', 'Glen Head', 'Northport',
       'Saugerties', 'Averill Park', 'Scottsville', 'Germantown',
       'Ossining', 'Baldwinsville', 'New Hartford', 'Pleasant Valley',
       'East Hampton', 'Washington Heights', 'Speculator',
       'North Tonawanda', 'Malta', 'Rensselaer', 'Tannersville', 'Bolton',
       'New City', 'Keene', 'Keene Valley', 'Verona', 'Glens Falls',
       'Mt. Vernon', 'Cheektowaga', 'Fort Montgomery', 'Catskill',
       'Laurel Hollow', 'Rush', 'Copiague', 'Clifton park', 'Albion',
       'Gowanus', 'Ticonderoga', 'Elma', 'Paul Smiths', 'Long Lake',
       'Coxsackie', 'Clinton', 'North Babylon', 'Newcomb',
       'Sleepy Hollow', 'Glen Falls', 'Union Springs', 'Batavia',
       'Harriman', 'East Syracuse', 'Scotia', 'Hurley', 'Arlington',
       'Pearl River', 'Sparkill', 'Youngstown', 'Glenville',
       'Port Jefferson', 'Perry', 'Waverly', 'Lakewood', 'Celoron',
       'Ellicottville', 'Springville', 'Arcade', 'Hammondsport',
       'Montebello', 'Central Valley', 'Ellenville', 'Valatie',
       'Huntington', 'Red Hook', 'Spencertown', 'Jamesville',
       'Cobleskill', 'Amsterdam', 'Ogdensburg', 'Dunkirk', 'Fort Plain',
       'Chatham', 'Nesconset', 'Highland Falls', 'Callicoon', 'Rock Hill',
       'Hunter', 'Herkimer', 'Slaterville Springs', 'Brockport',
       'Kauneonga Lake', 'Bethel', 'Katonah', 'Bedford', 'Glen Cove',
       'Nichols', 'Geneseo', 'Hamilton', 'Warsaw', 'Goshen', 'Great Neck',
       'Rosendale', 'Deer Park', 'Endicott', 'Spring Valley',
       'Lake Luzerne', 'Amagansett', 'Angola', 'East Greenbush', 'Attica',
       'Frankfort', 'South Wales', 'Farmington', 'LeRoy', 'Hyde Park',
       'Dryden', 'Bronxville', 'Amerst', 'South Nyack', 'Bolton Landing',
       'Glenwood', 'Harrison', 'Massena', 'Lackawanna', 'Fultonville',
       'Mahopac', 'Clayville', 'Roxbury', 'Bloomfield', 'Livingston',
       'Akwesasne', 'Lowville', 'Plattekill', 'Ruby', 'Hartsdale',
       'Monsey', 'Fredonia', 'Lakeville', 'Mt. Morris', 'Phoenix',
       'Cold Spring Harbor', 'Corfu', 'Mount Tremper', 'Old Westbury',
       'Bethpage', 'North Hills', 'Lake Grove', 'Warrensburg', 'Woodbury',
       'Medford', 'Schroon Lake', 'Wilmington', 'Blossvale', 'Delhi',
       'Riverdale', 'Mount Vernon', 'Ballston Spa', 'Midland Beach',
       'CLIFTON PARK', 'Massapequa Park', 'Greenwich', 'Oneida',
       'Montrose', 'The Bronx', 'South Beach', 'Clfton Park', 'Macedon',
       'North Merrick', 'West Bronx', 'Elmsford', 'Canastota', 'Bayberry',
       'Shortsville', 'Corona', 'Dobbs Ferry', 'New Windsor',
       'Pound Ridge', 'LIC', 'Honeoye Falls', 'Medina', 'Chazy',
       'Haverstraw', 'Green Island', 'Wingdale', 'Warners', 'Le Roy',
       'Castleton-on-Hudson', 'Aurora', 'North Chili', 'Ballston',
       'Hastings-on-Hudson', 'Shandaken', 'Willsboro', 'Roslyn Heights',
       'Clyde', 'Ontario', 'Minetto', 'Mechanicville', 'Johnson City',
       'Oxford', 'South Glens Falls', 'Essex', 'Wynantskill', 'Altamont',
       'Middle Village', 'Stillwater', 'LaGrangeville', 'Sherburne',
       'Eldred', 'Camden', 'Schodack', 'Sodus Point', 'Manorville',
       'Scarsdale', 'Oakland Gardens', 'Baldwin Place', 'Somers',
       'Carmel', 'Franklin Square', 'Tuckahoe', 'Saratoga',
       'Dover Plains', 'West Park', 'New Lebanon', 'Carle Place',
       'West Islip', 'Piermont', 'North River', 'Blue Point', 'Ingraham',
       'INGRAHAM', 'West Chazy', 'Bath', 'Ballston Lake', 'Big Flats',
       'Morrisville', 'East Meadow', 'Borough Park', 'Turin', 'Inlet',
       'Bayshore', 'Canaan', 'Lakeview', 'Port Henry', 'Shirley',
       'Mineola', 'Village of Pelham', 'Loudonville', 'Athens',
       'North Bellmore', 'Levittown', 'White Plains,', 'Norwich', 'Marcy',
       'Sunset Park', 'Newport', 'Downsville', 'Mount Kisco', 'Liberty',
       'Orangeburg', 'clifton park', 'Oceanside', 'Little Falls',
       'Whitehall', 'Purchase', 'Warens', 'Hoosick Falls', 'Crown Point',
       'New York Mills', 'Dansville', 'Gloversville', 'Rotterdam',
       'Delanson', 'Manlius', 'Castleton-On-Hudson', 'East Amherst',
       'Loch Sheldrake', 'Fleischmanns', 'Long Island'], dtype=object)

In [15]:
# extraccion de las columnas con informacion importante.
df_ny = df_ny[['Fuel Type Code', 'City', 'Status Code', 'Street Address']]

In [16]:
df_ny.head(5)

   Fuel Type Code      City Status Code      Street Address
7             CNG  Brooklyn           E     287 Maspeth Ave
8             CNG  Brooklyn           E     8424 Ditmas Ave
9             CNG  New York           E        281 11th Ave
10            CNG  New York           E       700 E 16th St
11            CNG     Bronx           E  1615 Bronxdale Ave

In [20]:
# extraccion de la informacion de solo los boroughts Manhattan, Brooklyn, Bronx, Queens,  Staten Island

df_ny = df_ny[ (df_ny['City'] == 'Manhattan') | (df_ny['City'] == 'Brooklyn') 
              | (df_ny['City'] == 'Bronx') | (df_ny['City'] == 'Queens') 
              | (df_ny['City'] == 'Staten Island') ]


df_ny

      Fuel Type Code      City Status Code      Street Address
7                CNG  Brooklyn           E     287 Maspeth Ave
8                CNG  Brooklyn           E     8424 Ditmas Ave
11               CNG     Bronx           E  1615 Bronxdale Ave
13               CNG    Queens           E     124-15 31st Ave
1500             CNG     Bronx           E  2300 Southern Blvd
...              ...       ...         ...                 ...
69624           ELEC  Brooklyn           E         44 State St
69640           ELEC  Brooklyn           E        906 Union St
69993           ELEC  Brooklyn           E       1074 Grand St
70050           ELEC  Brooklyn           E     35 Red Cross Pl
70288           ELEC  Brooklyn           E         40 N 4th ST

[200 rows x 4 columns]

In [22]:
df_ny.groupby('City')['Fuel Type Code'].value_counts().unstack(fill_value=0)

Fuel Type Code  BD  CNG  E85  ELEC
City
Bronx            0    6    0    25
Brooklyn         0    4    1    98
Manhattan        0    0    0    22
Queens           0    1    1    19
Staten Island    1    0    1    21

CNG = Compressed Natural Gas

BD = Bio-diesel

E85 (or flex fuel) is a term that refers to high-level ethanol-gasoline blends containing 51% to 83% ethanol

ELEC = electric